.app {
  width: 100%;
  height: 100%;
}

header {
  background: #1A96DD ;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  margin: 0;
  color: white;
}

main {
  padding: 0.5em;
  margin: 0 auto;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

@media (min-width: 1025px) {
  main {
    width: 990px;
  }
}